* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
#home_banner {
  background: url('../imgs/hbanner.jpg');
  background-position: center;
  background-size: cover;
  background-attachement: fixed;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#home_banner #home_container {
  width: 100%;
  position: relative;
  top: 15%;
  color: #ffffff;
  text-align: center;
}
#home_banner #home_container h1 {
  font-size: 78px;
}
#home_banner #home_container #button_cont {
  display: inline-block;
  width: 80%;
}
#home_banner #home_container #button_cont .sign {
  background: none;
  border: 2px solid #ffffff;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  width: 400px;
}
#about_banner {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
}
#about_banner #about_container {
  text-align: center;
  color: #4f7686;
  position: relative;
  top: 15%;
}
#about_banner #about_container .container-fluid .row .node {
  height: 105px;
  width: 105px;
  margin: 5px 40px;
}
#about_banner #about_container .container-fluid .row p {
  width: 75%;
  display: block;
  margin: 0 auto;
  font-size: 20px;
}
#instructor_banner {
  position: absolute;
  top: 200%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #4f7686;
}
#instructor_banner #instructor_container {
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 15%;
}
#instructor_banner #instructor_container h1 {
  font-size: 50px;
  margin: 10px;
}
#instructor_banner #instructor_container #photo_container h4 {
  width: 70%;
  display: block;
  margin: 0 auto;
}
#signup_banner {
  position: absolute;
  top: 300%;
  left: 0;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  #home_banner #home_container h1 {
    font-size: 65px;
  }
  #home_banner #home_container #button_cont .sign {
    width: 250px;
    font-size: 16px;
  }
  #about_banner #about_container {
    top: 9%;
  }
  #instructor_banner {
    height: 135%;
  }
}
